a.collapsible-nav::after,
span.collapsible-nav::after,
a.collapsible-nav-page::after,
span.collapsible-nav-page::after,
a.collapsible-nav-children::after,
span.collapsible-nav-children::after{
  content:">";
  float:right;
}

nav span.caption-text{
  cursor: pointer;
}
